doctype html
html( lang="en" )
head
    meta(charset="UTF-8")
    title Document
    link( rel="stylesheet" href="css/libs.min.css")
    link( rel="stylesheet" href="css/main.css")
body

    .first
        .container
            .row
                .col-3
                    .logo-wrap
                        .logo
                        .logo-text-wrap
                            p.logo-text Потеплеет
                            p.logo-second-text Монтаж систем обогрева




                .col-7.p-0
                    nav.menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="#") Главная
                            li.menu__item
                                a.menu__link.active(href="#") Услуги
                            li.menu__item
                                a.menu__link(href="#") О компании
                            li.menu__item
                                a.menu__link(href="#") Каталог оборудования
                            li.menu__item.menu__item_brd-0
                                a.menu__link(href="#") Доставка
                            li.menu__item.menu__item_brd-0
                                a.menu__link(href="#") Контакты

                .col-2
                    .tel
                        span.tel__title Москва
                        a(href="#").tel__link 8 (495) 215-14-22
                    .tel
                        span.tel__title по Росии бесплатно
                        a(href="#").tel__link 8 (800) 500-75-51
            .row
                .col-12
                    nav.menu.menu--sub
                        ul.menu__list
                            li.menu__item
                                a.menu__link.active(href="#").
                                    ОБОГРЕВ ЖЕЛОБОВ И ВОДОСТОКОВ
                            li.menu__item
                                a.menu__link(href="#").
                                    ОБОГРЕВ трубопроводов
                            li.menu__item
                                a.menu__link(href="#").
                                    ОБОГРЕВ открытых площадок
                            li.menu__item
                                a.menu__link(href="#").
                                    ОБОГРЕВ резервуаров
                            li.menu__item
                                a.menu__link(href="#").
                                    ОБОГРЕВ помещений
                            li.menu__item
                                a.menu__link(href="#").
                                    монтаж кабеля

    script( src="js/libs.min.js" )